{%- assign education = site.data.education -%}

<div class="w-100">
    <h2 class="mb-5">Education</h2>

    {%- for edu in education -%}  
    <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
      <div class="resume-content">
        <h3 class="mb-0">{{ edu.university }}</h3>
        <div class="subheading mb-3">{{ edu.degree }}</div>
        <div class="lead">{{ edu.course }}</div>
        <p class="lead">{{ edu.score_type }}: {{ edu.score }}</p>
      </div>
      <div class="resume-date text-md-right">
        <span class="lead text-primary">{{ edu.start_date }} - {{ edu.end_date }}</span>
      </div>
    </div>
    {%- endfor -%}

</div>