{%- assign knowledge = site.data.knowledge -%}

<div class="w-100">
  <h2 class="mb-5">Knowledge</h2>

    <div class="subheading">Machine Learning:</div>
    <ul class="fa-ul mb-0">
      {%- for know in knowledge['Machine Learning'] -%}
      <li>
        <i class="fa-li fa fa-plus-circle text-success"></i>
        <span class="lead">{{ know }}</span>
      </li>
      {%- endfor -%}
    </ul>

    </br>
    <div class="subheading">Software Engineering:</div>
    <ul class="fa-ul mb-0">
      {%- for know in knowledge['Software Engineering'] -%}
      <li>
        <i class="fa-li fa fa-plus-circle text-success"></i>
        <span class="lead">{{ know }}</span>
      </li>
      {%- endfor -%}
    </ul>
    
  </br>
  <div class="subheading">Cyber Security:</div>
  <ul class="fa-ul mb-0">
    {%- for know in knowledge['Cyber Security'] -%}
    <li>
      <i class="fa-li fa fa-plus-circle text-success"></i>
      <span class="lead">{{ know }}</span>
    </li>
    {%- endfor -%}
  </ul>

</div>