{%- assign literature = site.data.literature -%}

<div class="w-100">
  <h2 class="mb-5">literature</h2>

  <div class="subheading mb-3">Authored</div>
  <ul class="fa-ul list-inline mb-3">
    
    {%- if literature.authored == null -%}
      <li class="list-inline-item">
        <i class="fa-li fa fa-sync text-danger"></i>
        <span class="lead">Something might not be right..</span>
      </li>
    {%- else -%}
      {%- for paper in literature.authored -%}
        <li class="list-inline-item">
          <i class="fa-li fa fa-check text-success"></i>
          <span class="lead">{{ paper}}</span>
        </li>
      {%- endfor -%}
    {%- endif -%}

  </ul>

  <div class="subheading mb-3">Implemented</div>
  <ul class="fa-ul list-inline mb-3">
    
    {%- if literature.implemented == null -%}
      <li class="list-inline-item">
        <i class="fa-li fa fa-sync text-danger"></i>
        <span class="lead">Something might not be right..</span>
      </li>
    {%- else -%}
      {%- for paper in literature.implemented -%}
        <li class="list-inline-item">
          <i class="fa-li fa fa-check text-success"></i>
          <span class="lead">{{ paper}}</span>
        </li>
      {%- endfor -%}
    {%- endif -%}

  </ul><div class="subheading mb-3">Read</div>
  <ul class="fa-ul list-inline mb-3">
    
    {%- if literature.read == null -%}
      <li class="list-inline-item">
        <i class="fa-li fa fa-sync text-danger"></i>
        <span class="lead">Something might not be right..</span>
      </li>
    {%- else -%}
      {%- for paper in literature.read -%}
      <li class="list-inline-item">
        <i class="fa-li fa fa-book text-warning"></i>
        <span class="lead">{{ paper}}</span>
      </li>
      {%- endfor -%}
    {%- endif -%}

  </ul>

</div>