{%- assign databases = site.data.databases -%}
{%- assign techs = site.data.techs -%}
{%- assign skills = site.data.skills -%}

<div class="w-100">
  <h2 class="mb-5">Skills</h2>

  <div class="subheading mb-3">Programming Languages &amp; Technologies</div>
  <ul class="list-inline dev-icons mb-3">
    <li class="list-inline-item">
      <i class="fab fa-python"></i>
      <span class="tooltip-text">
        Python
      </span>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-java"></i>
      <span class="tooltip-text">
        Java
      </span>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-cuttlefish">++</i>
      <span class="tooltip-text">
        C++
      </span>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-php"></i>
      <span class="tooltip-text">
        PHP
      </span>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-bootstrap"></i>
      <span class="tooltip-text">
        Bootstrap
      </span>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-js-square"></i>
      <span class="tooltip-text">
        Javascript
      </span>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-github-alt"></i>
      <span class="tooltip-text">
        Git
      </span>
    </li>
    <li class="list-inline-item">
      <i class="fab fa-docker"></i>
      <span class="tooltip-text">
        Docker
      </span>
    </li>
  </ul>

  <div class="subheading mb-3">Database Servers</div>
  <ul class="list-inline mb-3">
    
    {%- for database in databases -%}
      <li class="list-inline-item">
        <i class="fa fa-check text-success"></i>
        <span class="lead">{{ database }}</span>
      </li>
    {%- endfor -%}

  </ul>

  <div class="subheading mb-3">Libraries &amp; Frameworks</div>
  <ul class="list-inline mb-3">
    
    {%- for tech in techs -%}
      <li class="list-inline-item">
        <i class="fa fa-check text-success"></i>
        <span class="lead">{{ tech }}</span>
      </li>
    {%- endfor -%}

  </ul>

  <div class="subheading mb-3">Skills</div>
    
    <span class="lead" style="font-weight: bold;">Machine Learning:</span>
    <ul class="fa-ul mb-0">
      {%- for skill in skills['Machine Learning'] -%}
      <li>
        <i class="fa-li fa fa-plus-circle text-success"></i>
        <span class="lead">{{ skill }}</span>
      </li>
      {%- endfor -%}
    </ul>

    </br>
    <span class="lead" style="font-weight: bold;">Software Engineering:</span>
    <ul class="fa-ul mb-0">
      {%- for skill in skills['Software Engineering'] -%}
      <li>
        <i class="fa-li fa fa-plus-circle text-success"></i>
        <span class="lead">{{ skill }}</span>
      </li>
      {%- endfor -%}
    </ul>
    
</div>