{%- assign langs_n_techs = site.data.langs_n_techs -%}
{%- assign libs_n_fworks = site.data.libs_n_fworks -%}
{%- assign skills = site.data.skills -%}

<div class="w-100">
  <h2 class="mb-5">Skills</h2>

  <div class="subheading mb-3">Programming Languages &amp; Technologies</div>
  <ul class="list-inline mb-3">
    
    {%- for lang_or_tech in langs_n_techs -%}
      <li class="list-inline-item">
        <i class="fa fa-check text-success"></i>
        <span class="lead">{{ lang_or_tech }}</span>
      </li>
    {%- endfor -%}

  </ul>

  <div class="subheading mb-3">Libraries &amp; Frameworks</div>
  <ul class="list-inline mb-3">
    
    {%- for lib_or_fwork in libs_n_fworks -%}
      <li class="list-inline-item">
        <i class="fa fa-toolbox text-success"></i>
        <span class="lead">{{ lib_or_fwork }}</span>
      </li>
    {%- endfor -%}

  </ul>

  <hr/>  
  <br/>
  
  <span class="lead" style="font-weight: bold;">Technical Skills:</span>
  <ul class="fa-ul mb-0">
    {%- for skill in skills['Technical Skills'] -%}
    <li>
      <i class="fa-li fa fa-plus-circle text-success"></i>
      <span class="lead">{{ skill }}</span>
    </li>
    {%- endfor -%}
  </ul>

  </br>
  <span class="lead" style="font-weight: bold;">Soft Skills:</span>
  <ul class="fa-ul mb-0">
    {%- for skill in skills['Soft Skills'] -%}
    <li>
      <i class="fa-li fa fa-plus-circle text-success"></i>
      <span class="lead">{{ skill }}</span>
    </li>
    {%- endfor -%}
  </ul>
    
</div>